.remove-all {
  all: unset;
  display: flex;
  align-items: center;
}

.fs-footer-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.fs-interaction {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;

  .like {
    cursor: pointer;
    transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;

    &:hover path {
      fill: #d65a5a;
      stroke: #d65a5a;
    }

    &.clicked path {
      fill: #d65a5a;
      stroke: #d65a5a;
    }
  }
}
